In [1]:
import pandas as pd 

school_csv_file = "Resources/schools_complete.csv"
student_csv_file = "Resources/students_complete.csv"

school_csv = pd.read_csv(school_csv_file)
student_csv = pd.read_csv(student_csv_file)

school_complete = pd.merge(school_csv, student_csv, how="left", on=["school_name", "school_name"])
school_complete

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [2]:
#District Summary

schools_total = len(school_complete["school_name"].unique())
students_total = len(school_complete["student_name"].unique())
budget_total = school_complete["budget"].unique().sum()
avg_math_score = school_complete["math_score"].mean()
avg_reading_score = school_complete["reading_score"].mean()
count_math = school_complete.groupby([school_complete["math_score"]>=70])["Student ID"]
count_read = school_complete.groupby([school_complete["reading_score"]>=70])["Student ID"]
student_total= len(school_complete["Student ID"].unique())

In [3]:
district_summary_df = pd.DataFrame({"Total Schools": [schools_total],
                                    "Total Students": [students_total],
                                    "Total Budget": [budget_total],
                                    "Average Math Score": [avg_math_score],
                                    "Average ReadingScore": [avg_reading_score],
                                    "% Passing Math": [count_math]})
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average ReadingScore,% Passing Math
0,15,32715,24649428,78.985371,81.87784,<pandas.core.groupby.generic.SeriesGroupBy obj...

In [4]:
per_student_budget = (budget_total / student_total)
per_school_budget = district_summary_df["Total Budget"].mean()

students_per_school = school_complete.groupby(["Student ID"]).sum()["school_name"]
students_per_school.head()

KeyError: 'school_name'

In [5]:
#School Summary
per_school_data = school_complete.set_index(["school_name"])["type"]
per_school_data

by_school = per_school_data.groupby(["school_name"])
print(by_school)
by_school.count()

school_summary_df = pd.DataFrame({"Total Students": student_total,
                                    "Total Budget": budget_total,
                                    "Per Student Budget": per_student_budget,
                                    "Average Math Score": avg_math_score,
                                    "Average Reading Score": avg_reading_score})
school_summary_df

<pandas.core.groupby.generic.SeriesGroupBy object at 0x000002EE0FD08B50>

ValueError: If using all scalar values, you must pass an index

In [ ]:
#Math Scores By Grade

math_ninth = school_complete.loc(school_complete["grade"]=="9th")
school_math_ninth = math_ninth.groupby(["school_name"]).mean()["math_score"]

math_tenth = school_complete.loc(school_complete["grade"]=="10th")
school_math_tenth = math_tenth.groupby(["school_name"]).mean()["math_score"]


math_eleventh = school_complete.loc(school_complete["grade"]=="11th")
school_math_eleventh = math_eleventh.groupby(["school_name"]).mean()["math_score"]

math_twelth = school_complete.loc(school_complete["grade"]=="12th")
school_math_twelth = math_twelth.groupby(["school_name"]).mean()["math_score"]

In [ ]:
#Reading Scores By Grade

reading_ninth = school_complete.loc(school_complete["grade"]=="9th")
school_reading_ninth = reading_ninth.groupby(["school_name"]).mean()["reading_score"]

reading_tenth = school_complete.loc(school_complete["grade"]=="10th")
school_reading_tenth = reading_tenth.groupby(["school_name"]).mean()["reading_score"]

reading_eleventh = school_complete.loc(school_complete["grade"]=="11th")
school_reading_eleventh = reading_eleventh.groupby(["school_name"]).mean()["reading_score"]

reading_twelth = school_complete.loc(school_complete["grade"]=="12th")
school_reading_twelth = reading_twelth.groupby(["school_name"]).mean()["reading_score"]

In [ ]:
#Scores By School Spending

bins = [0, 50, 60, 70, 80, 90, 100]
group_names = [F, D, C, B, A]

variable = school_complete.groupby('[bin_column]').mean()['specific_column']